<!DOCTYPE html>
<html lang="en">
	<head>
	
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>User</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		 
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
			
		<![endif]-->
		<link href="/views/css/styles.css" rel="stylesheet">
		<link href="/alloy-editor/assets/alloy-editor-ocean.css" rel="stylesheet">
    
		
		<style>
		@height:40px;
@spacing:10px;
@select-colour:#2875C7;
@font-size:14px;
@border-colour:#DDD;
			
div.dropdown-container {
	&.show>div.dropdown-list {
		.transform(scale(1, 1));
	}

	@icon-width:14px;
				
	>div.dropdown-display {
		float:left;
		width:100%;
		background:white;
		height:@height;
		cursor:pointer;
		border:solid 1px @border-colour;
		.border-box;

		>* {
			float:left;
			height:100%;
			.vertical-centre(@height);
		}
		
		>span {
			font-size:@font-size;
			width:100%;
			position:relative;
			.border-box;
			padding-right:@icon-width+@spacing*2;
			padding-left:@spacing;
		}
		
		>i {
			position:relative;
			width:@icon-width;
			margin-left:(@spacing+@icon-width)*-1;
			font-size:1.125em;
			font-weight:bold;
			padding-right:@spacing;
			text-align:right;
		}
	}

	>div.dropdown-list {
		float:left;
		width:100%;
		position:relative;
		width:100%;
		.transform(scale(1, 0));
		.transition(-webkit-transform ease 250ms);
		.transition(transform ease 250ms);

		>div {
			position:absolute;
			width:100%;
			z-index:2;
			cursor:pointer;
			background:white;

			>div {
				float:left;
				width:100%;
				padding:0 @spacing;
				font-size:@font-size;
				.border-box;
				border:solid 1px @border-colour;
				border-top:none;

				@icon-width:20px;

				&:hover {
					background:#F0F0F0;
				}

				&.selected {
					background:@select-colour;
					color:white;
				}

				>* {
					.vertical-centre(@height);
				}

				>span {
					float:left;
					width:100%;
				}
			}
		}
	}
}
</style>
	
	</head>
	<body>
<!-- header -->
<div id="top-nav" class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/profile">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> Options <span class="caret"></span></a>
                    <ul id="g-account-menu" class="dropdown-menu" role="menu">
                        <li><a href="/profile">View Profile</a></li>
						
						<li><a href="/forms">All Forms</a></li>
						<li><a href="/formsToComplete">Forms To Complete</a></li>
						<li><a href="/formsCompleted">Forms Completed</a></li>
                    </ul>
                </li>
                <li><a href="/logout"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
            </ul>
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /Header -->

<!-- Main -->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2">
            <!-- Left column -->

            <hr>

            <ul class="nav nav-stacked">
                <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">Settings <i class="glyphicon glyphicon-chevron-down"></i></a>
                    <ul class="nav nav-stacked collapse in" id="userMenu">
                         <li class="active"> <a href="/profile">&nbsp&nbsp&nbsp<i class="/profile"></i> Home</a></li>
                        <li><a href="/users">&nbsp&nbsp<i class="glyphicon glyphicon-user"></i>     All Users </a></li>
						<li><a href="/lackeys">&nbsp&nbsp<i class="glyphicon glyphicon-user"></i> All Employees </a></li>
                        <li><a href="/forms">&nbsp&nbsp<i class="glyphicon glyphicon-comment"></i> All Forms</a></li>
                        
                        <li><a href="/about">&nbsp&nbsp<i class="glyphicon glyphicon-flag"></i> About</a></li>
                        <li><a href="/rules">&nbsp&nbsp<i class="glyphicon glyphicon-exclamation-sign"></i> F.A.Q</a></li>
                        <li><a href="/logout">&nbsp&nbsp<i class="glyphicon glyphicon-off"></i> Logout</a></li>
                    </ul>
                </li>
                
                <li class="nav-header">
                    <a href="#" data-toggle="collapse" data-target="#menu3"> Social Media <i class="glyphicon glyphicon-chevron-right"></i></a>
                    <ul class="nav nav-stacked collapse" id="menu3">
                        <li><a href="http://www.aduiepyle.com/"><i class="glyphicon glyphicon-circle"></i> A Duie Pyle </a></li>
                        
                    </ul>
                </li>
            </ul>

            <hr>

            <a href="https://github.com/kkotwal94/ReportProcessor"><strong><i class="glyphicon glyphicon-align-justify"></i> Github</strong></a>

            <hr>

         

            
        </div>
        <!-- /col-3 -->
        <div class="col-sm-9">

            
            <hr>

            <div class="row">
                <!-- center left-->
                <div class="col-md-12">
                   

                    

                    <div class="btn-group btn-group-justified">
                       
                        <a href="/addform" class="btn btn-primary col-sm-3">
                            <i class="glyphicon glyphicon-flag"></i>
                            <br> Create New Form
                        </a>
                        
                        <a href="/rules" class="btn btn-primary col-sm-3">
                            <i class="glyphicon glyphicon-question-sign"></i>
                            <br> Help
                        </a>
                    </div>

                    <hr>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Adding Form</h4></div>
                        <div class="panel-body" id = "special">
							
							<div id = "contents"> </div>
							
                        </div>
						
						
                        <!--/panel-body-->
                    </div>
                    <!--/panel-->

                    <hr>

                    <!--tabs-->
                    

                    </div>
                    <!--/tabs-->

                    <hr>
                    
                </div>
                <!--/col-->
                
                    <!--/panel-->


                    <!--/panel-->

                </div>
                <!--/col-span-6-->

            </div>
            <!--/row-->

            <hr>

            
        </div>
        <!--/col-span-9-->
    </div>
</div>
<!-- /Main -->

<!-- / <textarea class = "ckedit" id = "ckedit"></textarea> -->


<!-- /.modal -->
	<!-- script references -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
	
		
		
  	    <script src="/build/JSXTransformer.js"></script>
        <script src="/build/react.js"></script>
		<script src="../../views/js/bootstrap.min.js"></script>
		<script src="../../views/js/scripts.js"></script>
		<script type="text/jsx;harmony=true" src = "../../public/editForm.jsx"></script>
		  <script src="/alloy-editor/alloy-editor-all.js"></script>
		<script>
		
		
		</script>
		
		
<script>
var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
        , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
        , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
        , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name, filename) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }

            document.getElementById("dlink").href = uri + base64(format(template, ctx));
            document.getElementById("dlink").download = filename;
            document.getElementById("dlink").click();

        }
    })()
</script>
	</body>
</html